$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/bootstrap.scss";
// endbower

.conn {
  background: none repeat scroll 0 0 #44b6ae !important;
}

.grid {
  width: 100%;
  height: 600px;
}

canvas {
  background-color: #f3f3f3;
  -webkit-box-shadow: 3px 3px 3px 0 #e3e3e3;
  -moz-box-shadow: 3px 3px 3px 0 #e3e3e3;
  box-shadow: 3px 3px 3px 0 #e3e3e3;
  border: 1px solid #c3c3c3;
  height: 100px;
  margin: 6px 0 0 6px;
}

.alert {
  position: fixed;
  top: 0px;
  left: 0;
  right: 0;
  z-index: 10000;
}

.angular-google-map-container {
  width: 100%;
  height: 600px;
}

/*
Search Page
***/
/* general search form */
.search-form-default {
  margin-bottom: 25px;
  background: #f0f6fa;
  padding: 12px 14px;
}

/*search classic*/
.search-classic {
  margin-bottom: 30px;
}

.search-classic h4 {
  margin-bottom: 3px;
}

.overflow-hidden {
  overflow: hidden;
}

/*Booking Offer*/
.booking-offer {
  position: relative;
}

.booking-offer .booking-offer-in {
  top: 15px;
  left: 15px;
  right: 15px;
  color: #fff;
  padding: 15px;
  position: absolute;
  background: url(../images/bg-opacity.png);
}

.booking-offer .booking-offer-in em {
  font-size: 14px;
  font-style: normal;
}

.booking-offer .booking-offer-in p {
  color: #fff;
  font-size: 14px;
  margin-bottom: 0;
}

.booking-offer .booking-offer-in span {
  font-size: 22px;
  display: block;
  margin-bottom: 10px;
}

.booking-app {
  margin-bottom: 10px;
}

.booking-app a {
  color: #fff;
  padding: 15px;
  display: block;
  overflow: hidden;
  background: #78ccf8;
}

.booking-app a:hover {
  background: #4d90fe;
  text-decoration: none;
}

.booking-app span {
  top: 0px;
  color: #fff;
  font-size: 20px;
  position: relative;
}

.booking-app i {
  color: #fff;
  font-size: 40px;
  line-height: 18px;
}

/*Booking Blocks (Content)*/
.booking-results {
  margin-top: 20px;
}

.booking-result {
  overflow: hidden;
}

.booking-result .booking-img {
  display: inline-block;
  float: left;
  width: 140px;
  margin-right: 10px;
}

.booking-result .booking-img .price-location li {
  color: #777;
}

.booking-result .booking-img .price-location li i {
  color: #78ccf8;
  font-size: 12px;
  margin-right: 5px;
}

.booking-result .booking-img img {
  float: left;
  width: 140px;
  height: auto;
  margin: 3px 10px 10px 0;
}

.booking-result .booking-info .stars {
  padding: 0;
  margin: 0 0 5px 0;
}

.booking-result .booking-info .stars li {
  padding: 0;
}

.booking-result .booking-info .stars li i {
  color: #f8be2c;
  cursor: pointer;
  font-size: 16px;
}

.booking-result .booking-info h2 {
  margin-top: 2px;
  font-size: 20px;
  line-height: 20px;
}

@media (max-width: 768px) {
  .booking-results,
  .search-classic {
    margin-top: 0;
  }

  .booking-result,
  .search-classic {
    padding-bottom: 5px;
    border-bottom: 1px solid #ddd;
    margin: 15px 0;
  }
}

.tasks-widget:after {
  clear: both;
}

.tasks-widget .task-list {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}

.tasks-widget .task-list > li {
  border-bottom: 1px solid #f4f6f9;
  padding: 10px 0;
  position: relative;
}

.tasks-widget .task-list > li:hover {
  background: none repeat scroll 0 0 #f4f6f9;
}

.tasks-widget .task-list > li.last-line {
  border-bottom: medium none;
}

.tasks-widget .task-list > li.task-done {
  background: none repeat scroll 0 0 #f6f6f6;
}

.tasks-widget .task-list > li.task-done:hover {
  background: none repeat scroll 0 0 #f4f4f4;
}

.tasks-widget .task-list > li.task-done .task-title-sp {
  text-decoration: line-through;
}

.tasks-widget .task-list > li > .task-bell {
  margin-left: 10px;
}

.tasks-widget .task-list > li > .task-checkbox {
  float: left;
  width: 30px;
}

.tasks-widget .task-list > li > .task-checkbox input[type="checkbox"] {
  cursor: pointer;
}

.tasks-widget .task-list > li > .task-title {
  color: #838fa1;
  margin-right: 10px;
}

.tasks-widget .task-list > li > .task-title .task-title-sp {
  margin-right: 5px;
}

.tasks-widget .task-list > li .task-config-btn {
  margin-top: -1px;
}

.tasks-widget .task-list > li > .task-config {
  display: none;
  position: absolute;
  right: 10px;
  top: 10px;
}

.tasks-widget .task-list > li:hover > .task-config {
  display: block;
  margin-bottom: 0 !important;
}

.tasks-widget .task-footer {
  margin-top: 5px;
}

.tasks-widget .task-footer:before, .tasks-widget .task-footer:after {
  content: " ";
  display: table;
}

.tasks-widget .task-footer:after {
  clear: both;
}

@media only screen and (max-width: 480px) {
  .tasks-widget .task-config-btn {
    display: block;
    float: inherit;
  }
  .tasks-widget .task-list-projects li > .label {
    margin-bottom: 5px;
  }
}

