<!DOCTYPE html>
<html ng-app="KitchenApp">
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/custom.css">
</head>
<body>
<div class="container-fluid margin-top-10">
    <div class="panel" ng-class="isConn()" ng-controller="PanelCtrl">
        <div class="panel-heading">
            <h4>Orders</h4>
        </div>
        <div class="panel-body">
            <ul class="bs-order-list">
                <li ng-repeat="order in orders">
                    <div class="info">
                        <h4>{{order.text}}</h4>
                    </div>
                </li>
            </ul>
            <!--<div class="row" ng-repeat="order in (orders.length/6 | array)">-->
            <!--<div class="list-group col-md-2" ng-repeat="order in orders.slice(6*$index, 6*$index + 6)">-->
            <!--<a href="javascript:;" class="list-group-item" ng-repeat="item in order.items">{{item.name}}</a>-->
            <!--</div>-->
            <!--</div>-->
        </div>
        <div class="panel-footer"></div>
    </div>
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script src="/bower_components/angular/angular.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/assets/js/kitchen.js"></script>
</body>
</html>