<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/bootstrap-switch/dist/css/bootstrap3/bootstrap-switch.css" />
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="bower_components/select2/select2.css" />
    <link rel="stylesheet" href="bower_components/simple-line-icons/css/simple-line-icons.css" />
    <link rel="stylesheet" href="bower_components/angular-loading-bar/build/loading-bar.css" />
    <link rel="stylesheet" href="bower_components/angular-busy/dist/angular-busy.css" />
    <link rel="stylesheet" href="bower_components/bootstrap-timepicker/css/bootstrap-timepicker.min.css" />
    <link rel="stylesheet" href="bower_components/ng-tags-input/ng-tags-input.min.css" />
    <!-- endbower -->
    <link rel="stylesheet" href="bower_components/angular-ui-grid/ui-grid.min.css"/>

    <!-- endbuild -->


    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="/app/styles/main.css">
    <link rel="stylesheet" href="/app/styles/global/components.css">
    <link rel="stylesheet" href="/app/styles/global/plugins.css">
    <link rel="stylesheet" href="/app/styles/layout.css">
    <link rel="stylesheet" href="/app/styles/themes/grey.css">
    <!-- endbuild -->

    <style>
        body { padding-top:80px; }
    </style>
</head>
<body>
<div class="container">
    <div class="col-sm-6 col-sm-offset-3">
        <h1><span class="fa fa-sign-in"></span> Login</h1>
        <% if (message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
        <% } %>
        <!-- LOGIN FORM -->
        <form action="/login" method="post">
            <div class="form-group">
                <label>Email</label>
                <input type="text" class="form-control" name="email">
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" name="password">
            </div>
            <button type="submit" class="btn btn-warning btn-lg">Login</button>
        </form>
        <hr>
        <p>Need an account? <a href="/signup">Signup</a></p>
        <p>Or go <a href="/">home</a>.</p>
    </div>
</div>
</body>
</html>