<div class="page-container">
    <div class="page-sidebar-wrapper">
        <div class="page-sidebar navbar-collapse collapse">
            <ul class="page-sidebar-menu page-sidebar-menu-hover-submenu" data-slide-speed="200"
                data-auto-scroll="true">
                <li class="start active ">
                    <a href="index.html">
                        <i class="icon-home"></i>
                        <span class="title">面</span>
                        <span class="selected"></span>
                    </a>
                </li>
                <li class="">
                    <a href="index.html">
                        <i class="icon-home"></i>
                        <span class="title">飲み物</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="page-content-wrapper">
        <div class="page-content">
            <h3 class="page-title">
                {{ 'Handy' | translate }}
            </h3>

            <div class="tiles">
                <div class="tile bg-blue" ng-repeat="item in items">
                    <div class="tile-body">
                        <p>{{item.name}}</p>
                    </div>
                    <div class="tile-object">
                        <div class="name">
                            <button class="btn btn-default" ng-click="buy(item)">Buy</button>
                        </div>
                        <div class="number">
                            124
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
