<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="#/" translate>Dashboard</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#/item" translate>Item Listing</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <span translate>Item View</span>
        </li>
    </ul>
    <div class="page-toolbar">
    </div>
</div>
<div class="row">
<div class="col-md-12">
<form role="form" ng-submit="save(true)">
<div class="portlet light">
<div class="portlet-title">
    <div class="caption">
        <i class="icon-note font-green-sharp"></i>
        <span class="caption-subject font-green-sharp bold uppercase">{{'Item view'|translate}}</span>
    </div>
    <div class="actions btn-set">
        <a ng-href="#/item" type="button" name="back" class="btn btn-default btn-circle">
            <i class="fa fa-angle-left"></i> {{'Back'|translate}}
        </a>
        <a href="javascript:;" class="btn green-haze btn-circle" ng-click="save(false)">
            <i class="fa fa-check"></i> {{'Save'|translate}}
        </a>
        <button type="submit" class="btn green-haze btn-circle">
            <i class="fa fa-check-circle"></i> {{'Save &amp; Continue Edit'|translate}}
        </button>

        <div class="btn-group">
            <a class="btn yellow btn-circle" href="javascript:;" data-toggle="dropdown">
                <i class="fa fa-share"></i> {{'More'|translate}} <i class="fa fa-angle-down"></i>
            </a>
            <ul class="dropdown-menu pull-right">
                <li>
                    <a href="javascript:;">{{'Duplicate'|translate}}</a>
                </li>
                <li ng-class="{'disabled':!item._id || item._id == -1}">
                    <a href="javascript:;" ng-click="delete()"><span
                            class="label label-danger">{{'Delete'|translate}}</span></a>
                </li>
            </ul>
        </div>
        <support-lang></support-lang>
    </div>
</div>
<div class="portlet-body">
<div cg-busy="myPromise"></div>
<div class="tabbable">
<tabset>
<tab heading="{{'General'|translate}}">
    <div class="form-body">
        <div class="form-group">
            <label>{{'Item Name'|translate}}</label>

            <div class="input-icon">
                <i class="fa fa-info-circle"></i>
                <input type="text" placeholder="{{'Item Name'|translate}}"
                       class="form-control input-circle" ng-model="item.name[supportLang.selected.code]">
            </div>
        </div>

        <div class="form-group">
            <label>{{'Item Description'|translate}}</label>

            <div class="input-icon">
                <i class="fa fa-quote-left"></i>
                <textarea rows="3" class="form-control" placeholder="{{'Item Description'|translate}}"
                          ng-model="item.desc[supportLang.selected.code]"></textarea>
            </div>
        </div>

        <div class="form-group">
            <label>{{'Item Price'|translate}}</label>

            <div class="input-icon">
                <i class="fa fa-money"></i>
                <input type="text" placeholder="{{'Item Price'|translate}}"
                       class="form-control input-circle" ng-model="item.price">
            </div>
        </div>

        <div class="form-group">
            <label>{{'Creation time'|translate}}</label>

            <div class="input-icon">
                <i class="fa fa-clock-o"></i>
                <input type="text" placeholder="{{'Creation time'|translate}}"
                       class="form-control input-circle" ng-model="item.time">
            </div>
        </div>
    </div>
</tab>
<tab heading="{{'Images'|translate}}">
    <div class="text-align-reverse margin-bottom-10">
        <input type="file" nv-file-select="" uploader="uploader" multiple/>
        <button type="button" class="btn green" ng-click="uploader.uploadAll()"
                ng-disabled="!uploader.getNotUploadedItems().length">
            <span class="fa fa-share"></span> {{'Upload all'|translate}}
        </button>
    </div>
    <table class="table table-bordered table-hover"
           ng-show="uploader.getNotUploadedItems().length">
        <thead>
        <tr>
            <th width="60%">{{'Name'|translate}}</th>
            <th ng-show="uploader.isHTML5" width="10%">{{'Size'|translate}}</th>
            <th ng-show="uploader.isHTML5" width="10%">{{'Progress'|translate}}</th>
            <th width="10%">{{'Status'|translate}}</th>
            <th width="10%">{{'Actions'|translate}}</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="img in uploader.queue">
            <td>
                <strong>{{ img.file.name }}</strong>

                <div ng-show="uploader.isHTML5"
                     ng-thumb="{ file: img._file, height: 100 }"></div>
            </td>
            <td ng-show="uploader.isHTML5" nowrap>{{ img.file.size/1024/1024|number:2}} MB
            </td>
            <td ng-show="uploader.isHTML5">
                <div class="progress" style="margin-bottom: 0;">
                    <div class="progress-bar" role="progressbar"
                         ng-style="{ 'width': img.progress + '%' }"></div>
                </div>
            </td>
            <td class="text-center">
                <span ng-show="img.isSuccess"><i
                        class="glyphicon glyphicon-ok"></i></span>
                <span ng-show="img.isCancel"><i
                        class="glyphicon glyphicon-ban-circle"></i></span>
                <span ng-show="img.isError"><i
                        class="glyphicon glyphicon-remove"></i></span>
            </td>
            <td nowrap>
                <button type="button" class="btn btn-success btn-xs"
                        ng-click="img.upload()"
                        ng-disabled="img.isReady || img.isUploading || img.isSuccess">
                    <span class="glyphicon glyphicon-upload"></span> {{'Upload'|translate}}
                </button>
                <button type="button" class="btn btn-warning btn-xs"
                        ng-click="img.cancel()"
                        ng-disabled="!img.isUploading">
                    <span class="glyphicon glyphicon-ban-circle"></span>
                    {{'Cancel'|translate}}
                </button>
                <button type="button" class="btn btn-danger btn-xs"
                        ng-click="img.remove()">
                    <span class="glyphicon glyphicon-trash"></span> {{'Remove'|translate}}
                </button>
            </td>
        </tr>
        </tbody>
    </table>
    <table class="table table-bordered table-hover">
        <thead>
        <tr role="row" class="heading">
            <th width="8%">
                {{'Image'|translate}}
            </th>
            <th width="25%">
                {{'Label'|translate}}
            </th>
            <th width="8%">
                {{'Sort Order'|translate}}
            </th>
            <th width="10%">
                {{'Base Image'|translate}}
            </th>
            <th width="10%">
                {{'Small Image'|translate}}
            </th>
            <th width="10%">
                {{'Thumbnail'|translate}}
            </th>
            <th width="10%">
            </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-animate="'animate'" ng-repeat="img in item.images">
            <td>
                <a href="javascript:;" ng-href="{{img.path}}" class="fancybox-button"
                   data-rel="fancybox-button">
                    <img class="img-responsive" ng-src="{{img.path}}" alt="">
                </a>
            </td>
            <td>
                <input type="text" class="form-control" ng-model="img.filename[supportLang.selected.code]">
            </td>
            <td>
                <input type="text" class="form-control" ng-model="img.sort_order">
            </td>
            <td>
                <label>
                    <input type="radio" ng-model="img.image_type" ng-value="1">
                </label>
            </td>
            <td>
                <label>
                    <input type="radio" ng-model="img.image_type" ng-value="2">
                </label>
            </td>
            <td>
                <label>
                    <input type="radio" ng-model="img.image_type" ng-value="3">
                </label>
            </td>
            <td>
                <a href="javascript:;" class="btn default btn-sm"
                   ng-click="removeImage($index)">
                    <i class="fa fa-times"></i> {{'Remove'|translate}}
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</tab>
<tab heading="{{'Ingredients'|translate}}">
    <div class="portlet">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa icon-screen-tablet"></i> Ingredients manage
            </div>
            <div class="actions">
                <button type="button" class="btn btn-default btn-sm" ng-click="addIngredient()">
                    <i class="fa fa-plus"></i> Add Ingredients
                </button>
            </div>
        </div>
        <div class="portlet-body">
            <div class="row">
                <div class="col-md-12">
                    <div ui-grid="ingredientGridOptions" style="height: 350px;" ui-grid-auto-resize></div>
                </div>
            </div>
        </div>
    </div>
</tab>
<tab heading="{{'Category'|translate}}">
    <div class="form-group">
        <label>{{'Category'|translate}}</label>

        <div class="form-control height-auto">
            <div class="scroller" style="height:275px;" data-always-visible="1">
                <div class="checkbox-list">
                    <label style="margin-left: 20px;" ng-repeat="category in categories">
                        <input type="checkbox"
                               ng-checked="item.categories.indexOf(category._id) > -1"
                               ng-click="categoryToggleCheck(item._id,category._id)">
                        <span grid-multi-lang-field="{{category.name}}"></span>
                    </label>
                </div>
            </div>
        </div>
    </div>
</tab>
<tab heading="{{'Stores'|translate}}">
    <div class="form-group">
        <label>{{'Stores'|translate}}</label>

        <div class="form-control height-auto">
            <div class="scroller" style="height:275px;" data-always-visible="1">
                <div class="checkbox-list">
                    <label style="margin-left: 20px;" ng-repeat="store in stores">
                        <input type="checkbox"
                               ng-checked="item.stores.indexOf(store._id) > -1"
                               ng-click="storeToggleCheck(item._id,store._id)">
                        <span grid-multi-lang-field="{{store.store_name}}"></span>
                    </label>
                </div>
            </div>
        </div>
    </div>
</tab>
</tabset>
</div>
</div>
</div>
</form>
</div>
</div>
<script type="text/ng-template" id="myModalWindow.html">
    <div class="modal-header">
        <h3 class="modal-title">Ingredients</h3>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <form class="alert alert-warning alert-borderless" ng-submit="search()">
                    <div class="input-group">
                        <div class="input-cont">
                            <input type="text" class="form-control" placeholder="Search..." ng-model="query" required>
                        </div>
                        <span class="input-group-btn">
                            <button class="btn green-haze" type="submit">
                                Search &nbsp; <i class="fa fa-binoculars"></i>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>

        <div cg-busy="myLoadingPromise"></div>

        <div class="row">
            <div class="col-md-8">
                <div ng-show="not_found && ingredients.length == 0">
                    <h3>
                        This ingredient ({{query}}) was not found.
                    </h3>
                    <button class="btn btn-success" type="button" ng-click="createNewIngredient()"><i
                            class="fa fa-plus"></i> create a new ingredient ({{query}})
                    </button>
                </div>

                <div ng-show="create_new_flg">
                    <form role="form" ng-submit="saveIngredient()">
                        <div class="portlet light tasks-widget">
                            <div class="portlet-title">
                                <div class="caption">
                                    <i class="icon-share font-green-haze hide"></i>
                                    <span class="caption-subject font-green-haze bold uppercase">New Ingredient</span>
                                </div>
                                <div class="actions">
                                    <button class="btn btn-circle btn-success"><i
                                            class="fa fa-check"></i> Save And Select
                                    </button>
                                </div>
                            </div>
                            <div class="portlet-body">
                                <div class="form">
                                    <div class="form-group">
                                        <label>{{'Choose a language'|translate}}</label>
                                        <support-lang></support-lang>
                                    </div>

                                    <div class="form-group">
                                        <label>{{'Name'|translate}}</label>
                                        <input type="text" placeholder="{{'Name'|translate}}"
                                               class="form-control input-circle"
                                               ng-model="newingredient.text[supportLang.selected.code]">
                                    </div>

                                    <div class="form-group">
                                        <label>{{'Small description'|translate}}</label>
                                        <textarea placeholder="{{'Small description'|translate}}"
                                                  class="form-control"
                                                  ng-model="newingredient.desc[supportLang.selected.code]"></textarea>
                                    </div>

                                    <div class="form-group">
                                        <label>{{'Image'|translate}}</label>
                                        <input type="file" ng-model="newingredient.image">
                                    </div>

                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="row booking-results" ng-repeat="ingredient in ingredients">
                    <div class="col-md-12">
                        <div class="booking-result">
                            <div class="booking-img">
                                <img alt="" ng-src="{{ingredient.image}}">
                                <ul class="list-unstyled price-location">
                                    <li ng-repeat="(k,v) in ingredient.text">
                                        {{v}}
                                    </li>
                                </ul>
                            </div>
                            <div class="booking-info">
                                <h2>
                                    {{ingredient.text[defaultLang]}}
                                </h2>

                                <label>
                                    <input type="checkbox" type="button"
                                           ng-click="selectIngredient(ingredient)"
                                           ng-checked="hasIngredientInArray(ingredient)"> Add
                                </label>

                                <div class="btn-group">
                                    <button type="button" class="btn btn-default" ng-click="editIngredient(ingredient)">
                                        Edit
                                    </button>
                                </div>

                                <p>
                                    {{ingredient.desc[defaultLang]}}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="portlet light tasks-widget">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="icon-share font-green-haze hide"></i>
                            <span class="caption-subject font-green-haze bold uppercase">Selected ingredients</span>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="task-content">
                            <ul class="task-list">
                                <li ng-repeat="item in selected.items">
                                    <div class="task-checkbox">
                                        <input type="checkbox" class="liChild"
                                               ng-click="selectIngredient(item)"
                                               id="selectedIngredient{{$index+1}}"
                                               ng-checked="hasIngredientInArray(item)"/>
                                    </div>
                                    <div class="task-title">
                                        <label for="selectedIngredient{{$index+1}}"
                                               style="display: block"
                                               class="task-title-sp"> {{item.text[defaultLang]}} </span></label>
                                    </div>
                                    <div class="task-config">
                                        <div class="task-config-btn btn-group">
                                            <button ng-click="searchCurrent(item)" class="btn btn-xs default">
                                                <i class="fa fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">OK</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</script>

