<div class="page-content-wrapper">
    <div class="page-content">
        <h3 class="page-title">
            {{ 'Kitchen' | translate }}
        </h3>
        <!--<input ng-model="message"/>-->
        <!--<button ng-click="broadcast()">通知</button>-->
        <!--<button ng-click="newOrder()">New Order</button>-->

        <div class="tiles">
            <div class="tile double-down bg-blue-hoki" ng-class="isLate($index)"
                 ng-repeat="order in orders">
                <div class="tile-body">
                    <h4>{{order.table_number}}</h4>

                    <p>{{order.order_time}}</p>
                    <ul>
                        <li ng-repeat="item in order.items">
                            {{item.name}} <br/>

                            <p ng-repeat="anno in item.annotations">{{anno}}</p>
                        </li>
                    </ul>
                </div>
                <div class="tile-object">
                    <button class="btn btn-primary" ng-click="ok(order)">OK</button>
                    <button class="btn btn-default" ng-click="cancel()">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>
