<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="#/" translate>Dashboard</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#/item" translate>Store Listing</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <span translate>Store view</span>
        </li>
    </ul>
    <div class="page-toolbar">
    </div>
</div>
<div class="row">
<div class="col-md-12">
<form name="form" novalidate role="form" ng-submit="save(true)">
<div class="portlet light">
<div class="portlet-title">
    <div class="caption">
        <i class="icon-note font-green-sharp"></i>
        <span class="caption-subject font-green-sharp bold uppercase">{{'Store view'|translate}}</span>

    </div>

    <div class="actions btn-set">
        <a ng-href="#/store" type="button" name="back" class="btn btn-default btn-circle">
            <i class="fa fa-angle-left"></i> {{'Back'|translate}}
        </a>
        <button type="button" ng-disabled="form.$invalid" class="btn green-haze btn-circle" ng-click="save(false)">
            <i class="fa fa-check"></i> {{'Save'|translate}}
        </button>
        <button type="submit" ng-disabled="form.$invalid" class="btn green-haze btn-circle">
            <i class="fa fa-check-circle"></i> {{'Save &amp; Continue Edit'|translate}}
        </button>

        <div class="btn-group">
            <a class="btn yellow btn-circle" href="javascript:;" data-toggle="dropdown">
                <i class="fa fa-share"></i> {{'More'|translate}} <i class="fa fa-angle-down"></i>
            </a>
            <ul class="dropdown-menu pull-right">
                <li>
                    <a href="javascript:;">{{'Duplicate'|translate}}</a>
                </li>
                <li ng-class="{'disabled':!store._id || store._id == -1}">
                    <a href="javascript:;" type="button" ng-click="delete()">
                        <span class="label label-danger">
                            {{'Delete'|translate}}</span>
                    </a>
                </li>
            </ul>
        </div>

        <support-lang></support-lang>
    </div>
</div>
<div class="portlet-body">
<div cg-busy="myPromise"></div>
<div class="form-body">
<div class="tabbable">
<tabset justified="true">
<tab heading="{{'General'|translate}}">
    <div class="form-body">
        <div class="form-group" ng-class="{'has-error':form.store_name.$invalid}">
            <label>{{'Store Name'|translate}} <i class="fa fa-language" title="{{'Support translation'|translate}}"></i></label>

            <div class="input-icon">
                <i class="fa fa-info-circle"></i>
                <input type="text" placeholder="{{'Store Name'|translate}}"
                       class="form-control input-circle" name="store_name"
                       ng-model="store.store_name[supportLang.selected.code]" required>
                <span class="help-block" ng-show="form.store_name.$error.required" translate>Required.</span>
            </div>
        </div>

        <div class="form-group">
            <div class="row margin-top-10">
                <div class="col-xs-6" ng-class="{'has-error':form.tel.$invalid}">
                    <label>{{'Store Telephone'|translate}}</label>

                    <div class="input-icon">
                        <i class="fa fa-comment-o"></i>
                        <input type="tel" name="tel" placeholder="{{'Store Telephone'|translate}}"
                               class="form-control input-circle" ng-model="store.tel" required>
                        <span class="help-block" ng-show="form.tel.$error.required" translate>Required</span>
                        <span class="help-block" ng-show="form.tel.$error.tel"
                              translate>This is not a valid telephone.</span>
                    </div>
                </div>

                <div class="col-xs-6" ng-class="{'has-error':form.seat_count.$invalid}">
                    <label class="control-label">{{'Seat Count'|translate}}</label>

                    <div class="input-icon">
                        <i class="fa fa-users"></i>
                        <input type="number" name="seat_count" placeholder="{{'Seat Count'|translate}}"
                               class="form-control input-circle"
                               ng-model="store.seat_count" required>
                        <span class="help-block"
                              ng-show="form.seat_count.$error.required" translate>Required.</span>
                        <span class="help-block"
                              ng-show="form.seat_count.$error.number" translate>Please fill in only numbers.</span>

                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label>{{'Business hours'|translate}}</label>

            <div class="row margin-top-10">
                <div class="col-xs-4">
                    <label class="control-label">{{'Start'|translate}}</label>

                    <div class="input-icon" ng-class="{'has-error':form.stime.$invalid}">
                        <i class="fa fa-clock-o"></i>
                        <input type="time" name="stime" placeholder="{{'Start'|translate}}"
                               class="form-control input-circle"
                               ng-model="store.opening_hour.start" jtimepicker>
                    </div>
                </div>

                <div class="col-xs-4">
                    <label class="control-label">{{'End'|translate}}</label>

                    <div class="input-icon" ng-class="{'has-error':form.etime.$invalid}">
                        <i class="fa fa-clock-o"></i>
                        <input type="time" name="etime" placeholder="{{'End'|translate}}"
                               class="form-control input-circle"
                               ng-model="store.opening_hour.end" jtimepicker>
                    </div>
                </div>

                <div class="col-xs-4">
                    <label class="control-label">{{'Last order'|translate}}</label>

                    <div class="input-icon" ng-class="{'has-error':form.etime.$invalid}">
                        <i class="fa fa-clock-o"></i>
                        <input type="time" name="last_order" placeholder="{{'Last order'|translate}}"
                               class="form-control input-circle"
                               ng-model="store.opening_hour.last_order" jtimepicker>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label>{{'Description'|translate}}</label>
            <textarea rows="3" class="form-control" ng-model="store.desc[supportLang.selected.code]"></textarea>
        </div>


        <h3>{{'Facility'|translate}}
            <small translate>Please check on what is being installed</small>
        </h3>
        <div class="form-group">
            <div class="checkbox-list">
                <label class="checkbox-inline" style="margin-left: 20px;" ng-repeat="(key, value) in constFacility">
                    <input type="checkbox"
                           ng-checked="checkCheckbox(key)"
                           ng-click="toggleCheck(store._id, key)">{{value|translate}}
                </label>
            </div>
        </div>
    </div>
</tab>
<tab heading="{{'Address'|translate}}">
    <div class="form-group row">
        <div class="col-xs-3">
            <label>{{'Country'|translate}}</label>

            <div class="input-icon">
                <i class="fa fa-location-arrow"></i>
                <input type="text" placeholder="{{'Country'|translate}}"
                       class="form-control input-circle" ng-model="store.country">
            </div>
        </div>
        <div class="col-xs-3">
            <label>{{'Zip Code'|translate}}</label>

            <div class="input-icon">
                <i class="fa fa-location-arrow"></i>
                <input type="text" placeholder="{{'Zip Code'|translate}}"
                       class="form-control input-circle" ng-model="store.zip_code">
            </div>
        </div>
        <div class="col-xs-3">
            <label>{{'State'|translate}}</label>

            <div class="input-icon">
                <i class="fa fa-location-arrow"></i>
                <input type="text" placeholder="{{'State'|translate}}"
                       class="form-control input-circle" ng-model="store.state">
            </div>
        </div>
        <div class="col-xs-3">
            <label>{{'City'|translate}}</label>

            <div class="input-icon">
                <i class="fa fa-location-arrow"></i>
                <input type="text" placeholder="{{'City'|translate}}"
                       class="form-control input-circle" ng-model="store.city">
            </div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-xs-6">
            <label>{{'Address 1'|translate}}</label>

            <div class="input-icon">
                <i class="fa fa-location-arrow"></i>
                <input type="text" placeholder="{{'Address 1'|translate}}"
                       class="form-control input-circle" ng-model="store.address">
            </div>
        </div>

        <div class="col-xs-6">
            <label>{{'Address 2'|translate}}</label>

            <div class="input-icon">
                <i class="fa fa-location-arrow"></i>
                <input type="text" placeholder="{{'Address 2'|translate}}"
                       class="form-control input-circle" ng-model="store.address2">
            </div>
        </div>
    </div>

    <div class="form-group">
        <button type="button" class="btn btn-success" ng-click="getLocation()"
                ng-disabled="locationSearching">
            <i class="fa fa-circle-o-notch fa-spin" ng-show="locationSearching"></i>
            {{'Get the current position'|translate}}
        </button>
        <a href="javascript:;" class="btn btn-success">{{'Search in map'|translate}}</a>

        <div class="row margin-top-10">
            <div class="col-xs-6">
                <label>{{'Latitude'|translate}}</label>

                <div class="input-icon">
                    <i class="fa fa-location-arrow"></i>
                    <input type="text" placeholder="{{'Latitude'|translate}}"
                           class="form-control input-circle" ng-model="store.location[0]">
                </div>
            </div>

            <div class="col-xs-6">
                <label>{{'Longitude'|translate}}</label>

                <div class="input-icon">
                    <i class="fa fa-location-arrow"></i>
                    <input type="text" placeholder="{{'Longitude'|translate}}"
                           class="form-control input-circle" ng-model="store.location[1]">
                </div>
            </div>
        </div>
    </div>

</tab>
<tab heading="{{'Images'|translate}}">
    <div class="text-align-reverse margin-bottom-10">
        <input type="file" nv-file-select="" uploader="uploader" multiple/>
        <button type="button" class="btn green" ng-click="uploader.uploadAll()"
                ng-disabled="!uploader.getNotUploadedItems().length">
            <span class="fa fa-share"></span> {{'Upload all'|translate}}
        </button>
    </div>
    <table class="table table-bordered table-hover"
           ng-show="uploader.getNotUploadedItems().length">
        <thead>
        <tr>
            <th width="60%">{{'Name'|translate}}</th>
            <th ng-show="uploader.isHTML5" width="10%">{{'Size'|translate}}</th>
            <th ng-show="uploader.isHTML5" width="10%">{{'Progress'|translate}}</th>
            <th width="10%">{{'Status'|translate}}</th>
            <th width="10%">{{'Actions'|translate}}</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="img in uploader.queue">
            <td>
                <strong>{{ img.file.name }}</strong>

                <div ng-show="uploader.isHTML5"
                     ng-thumb="{ file: img._file, height: 100 }"></div>
            </td>
            <td ng-show="uploader.isHTML5" nowrap>{{ img.file.size/1024/1024|number:2}} MB</td>
            <td ng-show="uploader.isHTML5">
                <div class="progress" style="margin-bottom: 0;">
                    <div class="progress-bar" role="progressbar"
                         ng-style="{ 'width': img.progress + '%' }"></div>
                </div>
            </td>
            <td class="text-center">
                <span ng-show="img.isSuccess">
                    <i class="glyphicon glyphicon-ok"></i>
                </span>
                <span ng-show="img.isCancel">
                    <i class="glyphicon glyphicon-ban-circle"></i>
                </span>
                <span ng-show="img.isError">
                    <i class="glyphicon glyphicon-remove"></i>
                </span>
            </td>
            <td nowrap>
                <button type="button" class="btn btn-success btn-xs"
                        ng-click="img.upload()"
                        ng-disabled="img.isReady || img.isUploading || img.isSuccess">
                    <span class="glyphicon glyphicon-upload"></span> {{'Upload'|translate}}
                </button>
                <button type="button" class="btn btn-warning btn-xs"
                        ng-click="img.cancel()"
                        ng-disabled="!img.isUploading">
                    <span class="glyphicon glyphicon-ban-circle"></span>
                    {{'Cancel'|translate}}
                </button>
                <button type="button" class="btn btn-danger btn-xs"
                        ng-click="img.remove()">
                    <span class="glyphicon glyphicon-trash"></span> {{'Remove'|translate}}
                </button>
            </td>
        </tr>
        </tbody>
    </table>
    <table class="table table-bordered table-hover">
        <thead>
        <tr role="row" class="heading">
            <th width="15%">
                {{'Image'|translate}}
            </th>
            <th width="25%">
                {{'Label'|translate}}
                <i class="fa fa-language" title="{{'Support translation'|translate}}"></i>
            </th>
            <th width="65%">
                {{'Description'|translate}}
                <i class="fa fa-language" title="{{'Support translation'|translate}}"></i>
            </th>
            <th width="5%">
            </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-animate="'animate'" ng-repeat="img in store.images">
            <td>
                <a href="javascript:;" ng-href="{{img.path}}" class="fancybox-button"
                   data-rel="fancybox-button">
                    <img class="img-responsive" ng-src="{{img.path}}" alt="">
                </a>
            </td>
            <td>
                <input type="text" class="form-control" ng-model="img.filename[supportLang.selected.code]">
            </td>
            <td>
                <textarea rows="3" class="form-control" ng-model="img.desc[supportLang.selected.code]"></textarea>
            </td>
            <td>
                <a href="javascript:;" class="btn default btn-sm"
                   ng-click="removeImage($index)">
                    <i class="fa fa-times"></i> {{'Remove'|translate}}
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</tab>
<tab heading="{{'Tables'|translate}}">
    <div class="portlet">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa icon-screen-tablet"></i> Table manage
            </div>
            <div class="actions">
                <button type="button" class="btn btn-default btn-sm" ng-click="addRow()">
                    <i class="fa fa-plus"></i> Add Table
                </button>
            </div>
        </div>
        <div class="portlet-body">
            <div class="row">
                <div class="col-md-12">
                    <div ui-grid="tableGridOptions" style="height: 350px;" external-scopes="tableGridScope"
                         ui-grid-auto-resize ui-grid-edit></div>
                </div>
            </div>
        </div>
    </div>
</tab>
<tab heading="{{'Employee'|translate}}">
    <div class="portlet">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa icon-screen-tablet"></i> Employee manager
            </div>
            <div class="actions">
                <button type="button" class="btn btn-default btn-sm">
                    <i class="fa fa-plus"></i> Add Employee
                </button>
            </div>
        </div>
        <div class="portlet-body">
            <div class="row">
                <div class="col-md-12">
                    <h1>Comming soon</h1>
                    <!--<div ui-grid="tableGridOptions" style="height: 350px;" external-scopes="tableGridScope"-->
                    <!--ui-grid-auto-resize ui-grid-edit></div>-->
                </div>
            </div>
        </div>
    </div>
</tab>
</tabset>
</div>
</div>
</div>
</div>
</form>
</div>
</div>