<h3 class="page-title">
    {{ 'Table view' | translate }}
</h3>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="#/" translate>Dashboard</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#/table" translate>Table Listing</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <span translate>Table View</span>
        </li>
    </ul>
    <div class="page-toolbar">
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <form role="form" ng-submit="save(true)">
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-note font-green-sharp"></i>
                        <span class="caption-subject font-green-sharp bold uppercase">{{'Table view'|translate}}</span>
                    </div>
                    <div class="actions btn-set">
                        <a ng-href="#/table" type="button" name="back" class="btn btn-default btn-circle">
                            <i class="fa fa-angle-left"></i> {{'Back'|translate}}
                        </a>
                        <a href="javascript:;" class="btn green-haze btn-circle" ng-click="save(false)">
                            <i class="fa fa-check"></i> {{'Save'|translate}}
                        </a>
                        <button type="submit" class="btn green-haze btn-circle">
                            <i class="fa fa-check-circle"></i> {{'Save &amp; Continue Edit'|translate}}
                        </button>

                        <div class="btn-group">
                            <a class="btn yellow btn-circle" href="javascript:;" data-toggle="dropdown">
                                <i class="fa fa-share"></i> {{'More'|translate}} <i class="fa fa-angle-down"></i>
                            </a>
                            <ul class="dropdown-menu pull-right">
                                <li>
                                    <a href="javascript:;">{{'Duplicate'|translate}}</a>
                                </li>
                                <li ng-class="{'disabled':!category._id || category._id == -1}">
                                    <a href="javascript:;" ng-click="delete()"><span class="label label-danger">{{'Delete'|translate}}</span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="portlet-body">
                    <div cg-busy="myPromise"></div>
                    <div class="form-body">
                        <div class="form-group">
                            <label>{{'Table Number'|translate}}</label>

                            <div class="input-icon">
                                <i class="fa fa-info-circle"></i>
                                <input type="text" placeholder="{{'Table Number'|translate}}"
                                       class="form-control input-circle" ng-model="table.table_number">
                            </div>
                        </div>

                        <div class="form-group">
                            <label>{{'Table Status'|translate}}</label>

                            <div>
                                <select ng-model="table.table_status" class="form-control"
                                        ng-options="k as v for (k, v) in table_status">
                                    <option value="" translate>Select Status...</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label>{{'Limited Number'|translate}}</label>

                            <div class="input-icon">
                                <i class="fa fa-info-circle"></i>
                                <input type="text" placeholder="{{'Limited Number'|translate}}"
                                       class="form-control input-circle" ng-model="table.limited_number">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>